.myCart {
  position: relative;
  padding: 48px 0;
}

.myCart--body {
  display: flex;
  justify-content: space-between;
}

.myCart--body .myCart--left {
  flex: 0 0 68%;
  border-radius: 6px;
  background: #ffffff;
  padding: 1rem;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.17);
}

.myCart--body .myCart--left .myCart-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.myCart--body .myCart--left .myCart-header li {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #373737;
}

.myCart--body .myCart--left .myCart--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 1rem;
}

.myCart--body .myCart--left .myCart--item .btn-close {
  position: absolute;
  top: -14px;
  right: 0;
  font-size: 12px;
}

.myCart--body .myCart--left .myCart--item .btn-close:focus {
  outline: 0;
  box-shadow: none;
}

.myCart--body .myCart--left .myCart--item .itemTop {
  display: flex;
  align-items: center;
  width: 100%;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemHead {
  flex: 0 0 30%;
  display: flex;
  align-items: flex-start;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemHead .media img {
  width: 64px;
  height: auto;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemHead .itemName h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  color: #373737;
  margin-bottom: 0;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemHead .itemName p {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail {
  flex: 0 0 70%;
  display: flex;
  justify-content: space-between;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: #373737;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span:nth-child(1) {
  display: none;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span:nth-child(2) {
  padding: 0;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: #373737;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span:nth-child(1) {
  display: none;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span:nth-child(2) {
  padding: 0;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount {
  display: flex;
  align-items: center;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: #373737;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span:nth-child(1) {
  display: none;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span:nth-child(2) {
  padding: 0;
}

.myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount .editBtn {
  outline: none;
  background: #ffffff;
  border: 1px solid #062951;
  color: #062951;
  font-size: 12px;
  display: flex;
  align-items: baseline;
  padding: 3px;
  border-radius: 4px;
  margin-left: 5px;
}

.myCart--body .myCart--left .myCart--item .itembottom .form-control {
  display: block;
  padding: 0.1375rem 0.575rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.myCart--body .myCart--left .myCart--item .itembottom .input-group .btn {
  position: relative;
  padding: 0.1375rem 0.575rem;
  z-index: 2;
  font-size: 12px;
}

.myCart--body .myCart--left .myCart--item .itembottom .btn:hover {
  color: #ffffff;
  background-color: #004985;
  border-color: #004985;
}

.myCart--body .myCart--left .myCart--item .itembottom .form-control:focus {
  color: #2a2a2a;
  background-color: var(--bs-body-bg);
  border-color: #004985;
  outline: 0;
  box-shadow: 0 0 0 0.01rem rgba(13, 110, 253, 0.25);
}

.myCart--body .myCart--left .myCart--item:last-child {
  margin-bottom: 0;
  border: none;
}

.myCart--body .myCart--left .myCart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myCart--body .myCart--left .myCart-footer .addDevices {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #004985;
  background: #ffffff;
  padding: 0.375rem 2.756rem;
  border: 1px solid #004985;
  border-radius: 24px;
  transition: all ease 0.5s;
}

.myCart--body .myCart--left .myCart-footer .addDevices:focus {
  color: #ffffff;
  background: #004985;
  border: 1px solid #004985;
}

.myCart--body .myCart--left .myCart-footer .addDevices:hover {
  color: #ffffff;
  background: #004985;
  border: 1px solid #004985;
}

.myCart--body .myCart--left .myCart-footer .promoInput .form-control {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.myCart--body .myCart--left .myCart-footer .promoInput .input-group .btn {
  position: relative;
  z-index: 2;
  font-size: 14px;
  color: #ffffff;
  background-color: #004985;
  border-color: #004985;
}

.myCart--body .myCart--left .myCart-footer .promoInput .btn:hover {
  color: #ffffff;
  background-color: #004985;
  border-color: #004985;
}

.myCart--body .myCart--left .myCart-footer .promoInput .form-control:focus {
  color: #2a2a2a;
  background-color: var(--bs-body-bg);
  border-color: #004985;
  outline: 0;
  box-shadow: 0 0 0 0.01rem rgba(13, 110, 253, 0.25);
}

.myCart--body .myCart--right {
  flex: 0 0 28%;
  height: 329.99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background: #fff;
  padding: 0;
  position: relative;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.17);
}

.myCart--body .myCart--right .summary--Header {
  width: 100%;
  border-bottom: 1px solid #dee2e6;
}

.myCart--body .myCart--right .summary--Header h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #373737;
  margin: 0;
  padding: 10px 0;
}

.myCart--body .myCart--right .summary--body {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #373737;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.myCart--body .myCart--right .summary--body .itemList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.myCart--body .myCart--right .summary--body li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.myCart--body .myCart--right .summary--body li .textName {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #373737;
}

.myCart--body .myCart--right .summary--body li .textCount {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #373737;
}

.myCart--body .myCart--right .summary--body .termsbox .form-check {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: justify;
  color: #373737;
}

.myCart--body .myCart--right .summary--Footer {
  position: absolute;
  bottom: 0;
  background: #004985;
  width: 100%;
  border-radius: 0 0 6px 6px;
  margin: 0px auto;
}

.myCart--body .myCart--right .summary--Footer .ptpBtn {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background: #004985;
  color: #fff;
  padding: 0.375rem 2.756rem;
  border: 1px solid #004985;
  border-radius: 0;
  transition: all ease 0.5s;
  width: 100%;
}

.myCart--body .myCart--right .summary--Footer .ptpBtn:focus {
  color: #ffffff;
  background: #004985;
  border: 1px solid #004985;
}

.myCart--body .myCart--right .summary--Footer .ptpBtn:hover {
  color: #ffffff;
  background: #004985;
  border: 1px solid #004985;
}


.cartAddress {
  display: flex;
}

.cartAddress .addCard {
  flex: 0 0 69%;
}

.cartAddress .addCard .accordion-item {
  margin-bottom: 24px;
}

.cartAddress .addCard .accordion-item:not(:first-of-type) {
  border-top: 1px solid #dee2e6;
}

.cartAddress .addCard .accordion-button {
  font-size: 18px;
  font-weight: 600;
  color: #004985;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.17);
}

.cartAddress .addCard .accordion-button:focus {
  z-index: 3;
  border-color: #004985;
  outline: 0;
  box-shadow: 0 0 0 0.125rem #004985;
}

.cartAddress .addCard .accordion-button:not(.collapsed) {
  color: #004985;
  background-color: #ffffff;
}

.cartAddress .addCard .accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  filter: invert(0);
}

.cartAddress .addCard .accordion-body {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}

.cartAddress .addCard .accordion-body .cartAdd--form .input-group {
  display: flex;
  flex-wrap: nowrap;
  width: 97%;
  z-index: 0;
}

.cartAddress .addCard .accordion-body .cartAdd--form input[type=radio]:checked+.btn {
  background-color: #216DA8;
  color: #fff;
  border-color: #216DA8;
  transition: all ease 0.5s;
}

.cartAddress .addCard .accordion-body .cartAdd--form input[type=radio]+.btn {
  background-color: #fff;
  color: #216DA8;
  border-color: #216DA8;
  transition: all ease 0.5s;
}

.cartAddress .addCard .accordion-body .cartAdd--form input,
.cartAddress .addCard .accordion-body .cartAdd--form select {
  width: 97%;
  padding: 1.25rem 2.25rem 0.75rem 0.75rem;
  font-size: 14px;
  color: #888;
  font-weight: 400;
  background-color: #fff;
}

.cartAddress .addCard .accordion-body .cartAdd--form option {
  font-weight: 400;
  display: block;
  min-height: 1.2em;
  padding: 1.25rem 0.75rem 1.25rem 0.75rem;
}

.cartAddress .addCard .accordion-body .cartAdd--form .form-control:focus,
.cartAddress .addCard .accordion-body .cartAdd--form .form-select:focus {
  border-color: rgba(33, 109, 168, 0.4117647059);
  outline: 0;
  box-shadow: none;
}

.cartAddress .addCard .accordion-body .cartAdd--form small {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  color: #545454;
}

.cartAddress .addCard .accordion-body .cartAdd--form label {
  position: relative;
  z-index: 2;
  top: 14px;
  background: #fff;
  padding: 0 5px;
  left: 8px;
  margin: 0;
  font-size: 12px;
  color: #545454;
  font-weight: 400;
  border-radius: 0.375em;
  border: 1px solid #f5f5f5;
}

.cartAddress .addCard .accordion-body .cartAdd--form input[type=radio]+label {
  position: relative;
  background: #fff;
  padding: 8px;
  margin: 0;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #545454;
  font-weight: 400;
  border-radius: 0.375em;
  border: 1px solid #f5f5f5;
}

.cartAddress .addCard .accordion-body .cartAdd--form .setAdd-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background: #004985;
  border: 1px solid #004985;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all ease 0.5s;
}

.cartAddress .addCard .accordion-body .cartAdd--form .smallTextInfo {
  font-size: 12px;
  font-weight: 600;
  color: rgba(53, 53, 53, 0.8196078431);
}

/* reponsive css*/
/* 
    320px — 480px: Mobile devices
*/
@media (min-width: 320px) and (max-width: 375px) {
  .myCart {
    padding: 18px 0;
  }

  .myCart--body {
    flex-direction: column;
  }

  .myCart--body .myCart--left {
    flex: 0 0 auto;
    padding: 0;
    background: transparent;
    margin-bottom: 20px;
    box-shadow: none;
  }

  .myCart--body .myCart--left hr {
    display: none;
  }

  .myCart--body .myCart--left .myCart-header {
    display: none;
  }

  .myCart--body .myCart--left .myCart--item {
    padding: 10px;
    border-radius: 6px;
    border-bottom: none;
    background: #fff;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.17);
  }

  .myCart--body .myCart--left .myCart--item .btn-close {
    top: 2px;
    right: 2px;
  }

  .myCart--body .myCart--left .myCart--item .btn-close:focus {
    outline: 0;
    box-shadow: none;
  }

  .myCart--body .myCart--left .myCart--item .itemTop {
    align-items: stretch;
    flex-direction: column;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead {
    flex: 0 0 auto;
    align-items: flex-start;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .media img {
    width: 64px;
    height: auto;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .itemName h3 {
    font-size: 12px;
    font-weight: 600;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .itemName p {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail {
    flex: 0 0 auto;
    justify-content: space-between;
    margin: 5px 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount {
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount .editBtn {
    font-size: 12px;
    margin-left: 0;
    position: absolute;
    top: 40px;
    right: 2px;
    border: none;
  }

  .myCart--body .myCart--left .myCart--item .itembottom .form-control {
    padding: 0.1375rem 0.575rem;
    font-size: 12px;
    font-weight: 400;
  }

  .myCart--body .myCart--left .myCart--item .itembottom .input-group .btn {
    padding: 0.1375rem 0.575rem;
    z-index: 2;
    font-size: 12px;
  }

  .myCart--body .myCart--left .myCart--item:last-child {
    margin-bottom: 0;
    border: none;
  }

  .myCart--body .myCart--left .myCart-footer {
    flex-direction: column;
  }

  .myCart--body .myCart--left .myCart-footer .addDevices {
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #004985;
    margin-bottom: 8px;
  }

  .myCart--body .myCart--left .myCart-footer .promoInput .form-control {
    font-size: 14px;
    font-weight: 400;
  }

  .myCart--body .myCart--left .myCart-footer .promoInput .input-group .btn {
    font-size: 14px;
  }

  .myCart--body .myCart--right {
    flex: 0 0 auto;
    background: #fff;
    height: auto;
    padding: 10px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
  }

  .myCart--body .myCart--right .summary--Header {
    width: 100%;
  }

  .myCart--body .myCart--right .summary--Header h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .myCart--body .myCart--right .summary--body {
    padding: 35px 0;
  }

  .myCart--body .myCart--right .summary--body .itemList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .myCart--body .myCart--right .summary--body li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .myCart--body .myCart--right .summary--body li .textName {
    font-size: 14px;
    font-weight: 400;
  }

  .myCart--body .myCart--right .summary--body li .textCount {
    font-size: 14px;
    font-weight: 600;
  }

  .myCart--body .myCart--right .summary--body .termsbox .form-check {
    font-size: 12px;
  }

  .myCart--body .myCart--right .summary--Footer .ptpBtn {
    font-size: 14px;
    font-weight: 400;
  }

  .cartAddress {
    display: flex;
  }

  .cartAddress .addCard {
    flex: 0 0 100%;
  }
}

@media (min-width: 376px) and (max-width: 480px) {
  .myCart {
    padding: 18px 0;
  }

  .myCart--body {
    flex-direction: column;
  }

  .myCart--body .myCart--left {
    flex: 0 0 auto;
    padding: 0;
    background: transparent;
    margin-bottom: 20px;
    box-shadow: none;
  }

  .myCart--body .myCart--left hr {
    display: none;
  }

  .myCart--body .myCart--left .myCart-header {
    display: none;
  }

  .myCart--body .myCart--left .myCart--item {
    padding: 10px;
    border-radius: 6px;
    border-bottom: none;
    background: #fff;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.17);
  }

  .myCart--body .myCart--left .myCart--item .btn-close {
    top: 2px;
    right: 2px;
  }

  .myCart--body .myCart--left .myCart--item .btn-close:focus {
    outline: 0;
    box-shadow: none;
  }

  .myCart--body .myCart--left .myCart--item .itemTop {
    align-items: stretch;
    flex-direction: column;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead {
    flex: 0 0 auto;
    align-items: flex-start;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .media img {
    width: 64px;
    height: auto;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .itemName h3 {
    font-size: 12px;
    font-weight: 600;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .itemName p {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail {
    flex: 0 0 auto;
    justify-content: space-between;
    margin: 5px 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount {
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount .editBtn {
    font-size: 12px;
    margin-left: 0;
    position: absolute;
    top: 40px;
    right: 2px;
    border: none;
  }

  .myCart--body .myCart--left .myCart--item .itembottom .form-control {
    padding: 0.1375rem 0.575rem;
    font-size: 12px;
    font-weight: 400;
  }

  .myCart--body .myCart--left .myCart--item .itembottom .input-group .btn {
    padding: 0.1375rem 0.575rem;
    z-index: 2;
    font-size: 12px;
  }

  .myCart--body .myCart--left .myCart--item:last-child {
    margin-bottom: 0;
    border: none;
  }

  .myCart--body .myCart--left .myCart-footer {
    flex-direction: column;
  }

  .myCart--body .myCart--left .myCart-footer .addDevices {
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #004985;
    margin-bottom: 8px;
  }

  .myCart--body .myCart--left .myCart-footer .promoInput .form-control {
    font-size: 14px;
    font-weight: 400;
  }

  .myCart--body .myCart--left .myCart-footer .promoInput .input-group .btn {
    font-size: 14px;
  }

  .myCart--body .myCart--right {
    flex: 0 0 auto;
    background: #fff;
    height: auto;
    padding: 10px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
  }

  .myCart--body .myCart--right .summary--Header {
    width: 100%;
  }

  .myCart--body .myCart--right .summary--Header h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .myCart--body .myCart--right .summary--body {
    padding: 15px 0;
  }

  .myCart--body .myCart--right .summary--body .itemList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .myCart--body .myCart--right .summary--body li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .myCart--body .myCart--right .summary--body li .textName {
    font-size: 14px;
    font-weight: 400;
  }

  .myCart--body .myCart--right .summary--body li .textCount {
    font-size: 14px;
    font-weight: 600;
  }

  .myCart--body .myCart--right .summary--body .termsbox .form-check {
    font-size: 12px;
  }

  .myCart--body .myCart--right .summary--Footer .ptpBtn {
    font-size: 14px;
    font-weight: 400;
  }

  .cartAddress {
    display: flex;
  }

  .cartAddress .addCard {
    flex: 0 0 100%;
  }
}

/* 
    481px — 768px: iPads, Tablets
*/
@media (min-width: 481px) and (max-width: 768px) {
  .myCart {
    padding: 18px 0;
  }

  .myCart--body {
    flex-direction: column;
  }

  .myCart--body .myCart--left {
    flex: 0 0 auto;
    padding: 0;
    background: transparent;
    margin-bottom: 20px;
    box-shadow: none;
  }

  .myCart--body .myCart--left hr {
    display: none;
  }

  .myCart--body .myCart--left .myCart-header {
    display: none;
  }

  .myCart--body .myCart--left .myCart--item {
    padding: 10px;
    border-radius: 6px;
    border-bottom: none;
    background: #fff;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.17);
  }

  .myCart--body .myCart--left .myCart--item .btn-close {
    top: 2px;
    right: 2px;
  }

  .myCart--body .myCart--left .myCart--item .btn-close:focus {
    outline: 0;
    box-shadow: none;
  }

  .myCart--body .myCart--left .myCart--item .itemTop {
    align-items: stretch;
    flex-direction: column;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead {
    flex: 0 0 auto;
    align-items: flex-start;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .media img {
    width: 64px;
    height: auto;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .itemName h3 {
    font-size: 12px;
    font-weight: 600;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemHead .itemName p {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail {
    flex: 0 0 auto;
    justify-content: space-between;
    margin: 5px 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemPrice span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemTime span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount {
    flex-direction: column;
    justify-content: space-between;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #373737;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span:nth-child(1) {
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount span:nth-child(2) {
    padding: 0;
  }

  .myCart--body .myCart--left .myCart--item .itemTop .itemDetail .itemAmount .editBtn {
    font-size: 12px;
    margin-left: 0;
    position: absolute;
    top: 40px;
    right: 2px;
    border: none;
  }

  .myCart--body .myCart--left .myCart--item .itembottom .form-control {
    padding: 0.1375rem 0.575rem;
    font-size: 12px;
    font-weight: 400;
  }

  .myCart--body .myCart--left .myCart--item .itembottom .input-group .btn {
    padding: 0.1375rem 0.575rem;
    z-index: 2;
    font-size: 12px;
  }

  .myCart--body .myCart--left .myCart--item:last-child {
    margin-bottom: 0;
    border: none;
  }

  .myCart--body .myCart--left .myCart-footer {
    flex-direction: column;
  }

  .myCart--body .myCart--left .myCart-footer .addDevices {
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #004985;
    margin-bottom: 8px;
  }

  .myCart--body .myCart--left .myCart-footer .promoInput .form-control {
    font-size: 14px;
    font-weight: 400;
  }

  .myCart--body .myCart--left .myCart-footer .promoInput .input-group .btn {
    font-size: 14px;
  }

  .myCart--body .myCart--right {
    flex: 0 0 auto;
    background: #fff;
    height: auto;
    padding: 10px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.17);
  }

  .myCart--body .myCart--right .summary--Header {
    width: 100%;
  }

  .myCart--body .myCart--right .summary--Header h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .myCart--body .myCart--right .summary--body {
    padding: 40px 0;
    width: 100%;
  }

  .myCart--body .myCart--right .summary--body .itemList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .myCart--body .myCart--right .summary--body li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .myCart--body .myCart--right .summary--body li .textName {
    font-size: 14px;
    font-weight: 400;
  }

  .myCart--body .myCart--right .summary--body li .textCount {
    font-size: 14px;
    font-weight: 600;
  }

  .myCart--body .myCart--right .summary--body .termsbox .form-check {
    font-size: 12px;
  }

  .myCart--body .myCart--right .summary--Footer .ptpBtn {
    font-size: 14px;
    font-weight: 400;
  }

  .cartAddress {
    display: flex;
  }

  .cartAddress .addCard {
    flex: 0 0 100%;
  }
}
