#partnerSection {
  padding: 0 0 2pc;
}

#partnerSection .partnerContent {
  padding-top: 0pc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#partnerSection .partnerContent .pc_cards {
  margin: 1pc 0pc;
  flex: 0 0 17.532%;
  display: flex;
  justify-content: center;
}

#partnerSection .partnerContent .pc_cards img {
  width: 160px;
  height: auto;
}

/* search brand modal */

#selectBrands .main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#selectBrands .main-container h2 {
  margin: 0 0 16px 0;
  color: #555;
  font-size: 14px;
  font-weight: 600;
}

#selectBrands .radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#selectBrands .custom-radio input {
  display: none;
}

#selectBrands .radio-btn {
  margin: 5px;
  width: 100px;
  height: 92px;
  border: 3px solid transparent;
  display: flex;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px rgba(195, 195, 195, 0.4039215686);
  cursor: pointer;
  justify-content: center;
}

#selectBrands .radio-btn .brand-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#selectBrands .radio-btn .brand-icon img {
  display: block;
  display: block;
  width: 100%;
  margin-bottom: 0;
}

#selectBrands .radio-btn .brand-icon i {
  color: #1581cd;
  line-height: 80px;
  font-size: 60px;
}

#selectBrands .radio-btn .brand-icon h3 {
  color: #555;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}

#selectBrands .custom-radio input:checked+.radio-btn {
  border: 2px solid #1581cd;
}

#selectBrands .searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 270px;
  margin-bottom: 5px;
}

#selectBrands .searchbar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

#selectBrands .searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

#selectBrands .searchbar-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

#selectBrands .search-icon-wrapper {
  margin: auto;
}

#selectBrands .search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

#selectBrands .searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

#selectBrands .searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

#selectBrands .searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

#selectBrands .searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

#selectBrands .searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: center;
  flex-direction: row;
}

#selectBrands .searchbar-clear-icon {
  margin-right: 12px;
}

#selectBrands .voice-search {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 2.3em;
}

/* Responsive CSS */

/* 320px — 480px: Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  #partnerSection {
    padding: 1pc 0;
  }

  #partnerSection .partnerContent {
    padding-top: 1pc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #partnerSection .partnerContent .pc_cards {
    margin: 5px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
  }

  #partnerSection .partnerContent .pc_cards img {
    width: 135px;
    height: auto;
  }
}

/* 481px — 1440px: iPads, Tablets, Desktops, Large screens, Extra large screens, TV */
@media (min-width: 481px) and (max-width: 1440px) {
  #partnerSection {
    padding: 1pc 0 6pc;
  }

  #partnerSection .partnerContent {
    padding-top: 1pc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #partnerSection .partnerContent .pc_cards {
    margin: 5px;
    flex: 0 0 16%;
    display: flex;
    justify-content: center;
  }

  #partnerSection .partnerContent .pc_cards img {
    width: 150px;
    height: auto;
  }
}